.deetails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.info {
  max-width: 400px;
}
img {
  width: 400px;
  border-radius: 10px;
}
.actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
button {
  padding: 8px 12px;
  border: none;
  background-color: #007acc;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
